/* *
 * Sum of Us growh map
 */

/*
 * General
 */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #f3f3f3;
  color: #666666;
  font-size: 13px;
  line-height: 1.4em;
  font-family: Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4 {
  color: #dc6134;
  font-weight: normal;
  text-transform: normal;
  line-height: 1em;
}

h1, h2 {
  font-family: "Myriad Pro",Arial,sans-serif;
  padding-bottom: 7px;
}

h1 { font-size: 25px; }

a, a:link {
  color: #04acbe;
  cursor: pointer;
  outline: 0 !important;
  text-decoration: none;
}

a:hover, a:focus {
  color: #05d9f0;
  text-decoration: none;
}

.hide {
  display: none !important;
}

/*
 * Header
 */
header h1 {
  margin: 0;
  padding: 0;
}

/*
 * Main content
 */


/* ----------------------------------------------------------------------------
 * Page landing
 * -------------------------------------------------------------------------- */

.page-landing {
  background: url("../images/landing-map.jpg") no-repeat center center;
  background-size: cover;
}

.page-landing > .wrapper {
  bottom: 0;
  height: 260px;
  left: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

/* -- Header -- */
.page-landing header {
  text-align: center;
}

.page-landing header h1 a {
  background: url(../images/logo.png) no-repeat center center;
  display: block;
  height: 125px;
  margin: 0 auto;
  overflow: hidden;
  text-indent: -999em;
  width: 137px;
  z-index: 999;
}

/* -- Main content -- */
.page-landing main {
  text-align: center;
}

.page-landing .p1,
.page-landing .p2 {
  font-size: 16px;
  font-style: italic;
  margin: 0;
}

.page-landing .count {
  color: #666;
  font-size: 33px;
  margin: .15em 0 .02em;
  padding: 0;
  text-transform: uppercase;
}

.page-landing .lnk-map {
  background: #db5120;
  border-radius: 4px;
  color: #ffebc8;
  display: inline-block;
  left: -10px;
  padding: 10px 20px 10px 10px;
  position: relative;
}

.page-landing .lnk-map:hover {
  background-color: #ca5120;
}

.page-landing .lnk-map:after {
  background: #ffebc8;
  border: 4px solid #db5120;
  border-radius: 24px;
  color: #db5120;
  content: '\2023';
  display: block;
  font-size: 100px;
  height: 40px;
  line-height: 45px;
  position: absolute;
  right: -30px;
  top: -5px;
  width: 40px;
}

/* ----------------------------------------------------------------------------
 * End of: Page landing
 * -------------------------------------------------------------------------- */




/* ----------------------------------------------------------------------------
 * Page map
 * -------------------------------------------------------------------------- */

/* -- Header -- */
.page-map header {
  position: relative;
  height: 50px;
  text-shadow: 1px 1px 1px #ffffff;
  margin: 0 auto;
  max-width: 100%;
  text-align: left;
  width: 960px;
}

.page-map header h1 a {
  background: #ffffff url(../images/logo-small.png) no-repeat center center;
  box-shadow: 0 0 6px #cccccc;
  display: block;
  height: 65px;
  margin-left: 10px;
  position: absolute;
  text-indent: -999em;
  top: 0;
  width: 75px;
  z-index: 999;
}

.page-map header .aside {
  float: left;
  width: 100%;
  text-align: left;
}

.page-map .slogan,
.page-map .count {
  font-size: 16px;
  margin: 8px 0px 0 90px;
  padding: 0;
}

.page-map header strong {
  color: #dc6134;
}

.page-map .slogan {
  color: #666;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-style: italic;
}

.page-map .count {
  font-size: 14px;
  margin-top: 2px;
}


/* -- Main content -- */
.page-map main {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-map iframe {
  height: 100%;
  width: 100%;
}

.page-map div.cartodb-zoom {
  margin-top: 90px;
}

/* -- Responsive Layouts-- */
@media all and (min-width: 600px) {

  /* -- Header -- */
  .page-map header h1  a { margin-left: 20px; }

  .page-map .slogan,
  .page-map .count {
    font-size: 16px;
    margin: 0;
    padding-top: 16px;
  }

  .page-map .slogan {
    float: left;
    margin-left: 110px;
    margin-right: 0;
    position: relative;
    top: 2px;
  }

  .page-map .count {
    margin-right: 20px;
    text-align: right;
  }

  .page-map header strong { padding-right: 5px; }
}

@media all and (min-width: 768px) {

  /* -- Header -- */
  .page-map .slogan,
  .page-map .count {
    font-size: 20px;
    padding-top: 18px;
  }
}

@media all and (min-width: 1100px) {

   /* -- Header -- */
  .page-map header h1 a {
    background-image: url(../images/logo.png);
    background-position: center 8px;
    height: 125px;
    margin-left: 0;
    width: 137px;
  }

  .page-map .slogan {
    margin-left: 155px;
  }

}

/* ----------------------------------------------------------------------------
 * End of: Page map
 * -------------------------------------------------------------------------- */
