/* *
 * Sum of Us growh map
 */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #f3f3f3;
  color: #666666;
  font-size: 13px;
  line-height: 1.4em;
  font-family: Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4 {
  color: #dc6134;
  font-weight: normal;
  text-transform: normal;
  line-height: 1em;
}

h1, h2 {
  font-family: "Myriad Pro",Arial,sans-serif;
  padding-bottom: 7px;
}

h1 { font-size: 25px; }

a, a:link {
  color: #04acbe;
  cursor: pointer;
  outline: 0 !important;
  text-decoration: none;
}

a:hover, a:focus {
  color: #05d9f0;
  text-decoration: none;
}

/* -- Header -- */
#header {
  position: relative;
  height: 50px;
  text-shadow: 1px 1px 1px #ffffff;
  margin: 0 auto;
  max-width: 100%;
  text-align: left;
  width: 960px;
}

#header h1 {
  margin: 0;
  padding: 0;
}

#header h1 a {
  background: #ffffff url(../images/logo-small.png) no-repeat center center;
  box-shadow: 0 0 6px #cccccc;
  display: block;
  height: 65px;
  margin-left: 10px;
  position: absolute;
  text-indent: -999em;
  top: 0;
  width: 75px;
  z-index: 999;
}

#header .aside {
  float: left;
  width: 100%;
  text-align: left;
}

#header .aside p {
  font-size: 16px;
  margin: 8px 0px 0 90px;
  padding: 0;
}

#header .aside .slogan {
  font-style: italic;
}

#header .aside .count {
  font-size: 14px;
  margin-top: 2px;
}

#header .aside p strong {
color: #dc6134;
}


/* -- Main content -- */
#main {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

iframe {
  height: 100%;
  width: 100%;
}

div.cartodb-zoom {
  margin-top: 90px;
}


/*
 * Layout Styles
 */

@media all and (min-width: 600px) {

  /* -- Header -- */
  #header h1  a { margin-left: 20px; }

  #header .aside p {
    font-size: 16px;
    margin: 0;
    padding-top: 16px;
  }

  #header .aside .slogan {
    float: left;
    margin-left: 110px;
    margin-right: 0;
    position: relative;
    top: 2px;
  }

  #header .aside .count {
    font-size: 16px;
    margin-right: 20px;
    text-align: right;
  }

  #header .aside strong { padding-right: 5px; }
}

@media all and (min-width: 768px) {

  /* -- Header -- */
  #header .aside p {
    font-size: 20px;
    padding-top: 18px;
  }

  #header .aside .count {
    font-size: 20px;
  }
}

@media all and (min-width: 1100px) {

   /* -- Header -- */
  #header h1 a {
    background-image: url(../images/logo.png);
    background-position: center 8px;
    height: 125px;
    margin-left: 0;
    width: 137px;
  }

  #header .aside .slogan {
    margin-left: 155px;
  }

}
